HOST=0.0.0.0 # Default Host IP
PORT=8000 # Default API port
HOST_WEB_BASE_URL=your-web-base-url
HOST_API_BASE_URL=http://your-host:8080 # Default API port
BETTER_AUTH_SECRET=yout_secret_key
BETTER_AUTH_BASE_URL=your-base-url
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
DATABASE_URL=your-database-url